# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/test/*.html
/test/*.b64

# production
/bin/bluestar-linux
/bin/bluestar-macos
/bin/bluestar-win.exe

# misc
/.vscode
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.bak

